@{
    ViewBag.Title = "ConfirmFailure";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="wrapper">
    <div id="header">
        <h2>
            ConfirmFailure Failed</h2>
    </div>
    <div id="container">
        Hello @ViewBag.UserName,
        <br />
        You are not confirmed with this application.
    </div>
</div>
