@{
    ViewBag.Title = "Forgot Password";
}
<div id="wrapper">
<h5>Forgot Password Form</h5>
    <div id="container">
        <div id="inner_content">
            <div id="login_form">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    <fieldset>
                        
                        <ul>
                            <li>
                            <lable for="name">User Name</lable>
                                @*@Html.Label("User Name", new { @for = "UserName" })*@
                                @Html.TextBox("UserName")
                                <span style="color: red;">@TempData["Message"]</span> </li>
                                
                        </ul>
                        
                        <input type="submit" class="reg_submit" />
                    </fieldset>
                }
            </div>
        </div>
    </div>
</div>
