@{
    ViewBag.Title = "Reset Password";
}
<fieldset>
    <legend>Reset Password</legend>
    <ol>
        <li><span style="color: red;">@TempData["Message"]</span> </li>
    </ol>
    <input type="submit" value="Recover" />
</fieldset>
