@model EasyPay.Models.ServiceOperatorPlan

@if (Model == null)
{
<div id="ad_img">

    <img src="images/ad1.jpg" width="408" height="224" />

    <div class="ad_text">Stay tuned for best offers !</div>

</div>
}

else
{ 
<div>
    <span>Hello Krishna!!</span>
</div>
}